/* ----------------------------- */
/* Basic Setup */
/* ----------------------------- */

html,
body {
  background-color: #fff;
  color: #333;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* ----------------------------- */
/* Elements */
/* ----------------------------- */

div {
  overflow: hidden;
}

hr {
  color: #4c6631;
  border: 1px solid #4c6631;
  width: 50%;
  margin-right: 50%;
}

ul {
  padding: 0;
}

/* ----------------------------- */
/* Components */
/* ----------------------------- */

.jumbotron {
  margin-bottom: 0;
}

.head {
  margin-top: 75px;
}

.gallery {
  height: 250px;
}

.bold {
  font-weight: bold;
}

.bg-gray {
  background-color: #efefef;
  border: 1px solid #efefef;
}

.gray {
  color: #333;
}

.card-transparent {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.portrait-testimonial {
  height: 400px;
}

/* ----------------------------- */
/* Headings */
/* ----------------------------- */

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  color: #fff;
  word-spacing: 4px;
}

.alt-h1::after {
  display: block;
  height: 2px;
  background-color: #4c6631;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.h1-contact {
  color: #333;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 400;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #4c6631;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.uncenter {
  text-align: left;
}

h3 {
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: 0;
}

/* ----------------------------- */
/* Text */
/* ----------------------------- */

.sub-head {
  font-size: 130%;
}

.emphasis {
  color: #4c6631;
  letter-spacing: 2px;
  font-weight: 400;
}

.step {
  font-size: 110%;
}

.alt-h1 {
  color: #333;
}

.link-container a {
  color: #333;
}

.small-p {
  font-size: 90%;
  line-height: 140%;
  text-align: center;
}

.long-copy {
  width: 75%;
  margin: 0 auto;
  line-height: 1.8;
}

/* ----------------------------- */
/* Buttons */
/* ----------------------------- */

.btn-primary,
.btn-outline-primary {
  padding: 10px 30px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
}

.btn-primary {
  background-color: #4c6631;
  border: 1px solid #4c6631;
  color: #fff;
  margin-right: 15px;
}

.btn-outline-primary {
  border: 1px solid #4c6631;
  background-color: #fff;
  color: #4c6631;
}

.btn-primary:hover,
.btn-primary:active,
.btn-outline-primary:hover,
.btn-outline-primary:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #232e18;
  border: 1px solid #232e18;
}

#submit-button {
  float: right;
}

input[type="submit"] {
  background-color: #4c6631;
  border: 1px solid #4c6631;
  color: #fff;
}

/* ----------------------------- */
/* Icons */
/* ----------------------------- */

.icon-big {
  font-size: 300%;
  display: block;
  color: #4c6631;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}

.icon-step {
  font-size: 140%;
  color: #333;
}

.quote-icon {
  color: #333;
}

/* ----------------------------- */
/* Navbars */
/* ----------------------------- */

nav.navbar {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar-logo {
  height: 50px;
  width: auto;
}

.main-nav {
  background-color: #fff;
  background: #fff;
  box-shadow: 0 2px 2px #efefef;
}

.nav-link:link,
.nav-link:visited,
.nav-link:focus {
  color: #333 !important;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  -webkit-transition: border-bottom 0.2s;
  -moz-transition: border-bottom 0.2s;
  -ms-transition: border-bottom 0.2s;
  -o-transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #4c6631;
}

.home-logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

/* ----------------------------- */
/* Index */
/* ----------------------------- */

.home-hero {
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  min-height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(imgs/plane_sunset.jpg);
}

.hero__box {
  border: 2px solid #fff;
  border-radius: 8px;
}

.hero__box:hover {
  border: 2px solid #fff;
  background-color: #fff;
  transition: 0.4s ease-in;
}

.hero__subtitle {
  font-size: 26px;
}

.service__link {
  color: #333;
  text-decoration: none;
}

.service__link:hover,
.service__link:focus,
.service__link:active {
  color: #4c6631;
  text-decoration: none;
}

.section-aboutus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(imgs/back-customers.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  min-height: 450px;
}

/* ----------------------------- */
/* Cargo Services */
/* ----------------------------- */

.cargo-services {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(imgs/hangar.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.tracking {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(imgs/tracker.jpg);
  min-height: 50vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.services__right {
  justify-self: flex-end;
}

.quotes-carousel-container {
  min-height: 20em;
  margin: 0 auto;
  position: relative;
  width: 30em;
  vertical-align: middle;
}

.quotes-carousel {
  position: relative;
  width: 100%;
}

.quote {
  cursor: pointer;
  left: 50%;
  list-style: none;
  margin: 8em auto 4em;
  opacity: 0;
  padding: 1em;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(calc(100% + 12em), -50%) scale(0.6);
  transform: translate(calc(100% + 12em), -50%) scale(0.6);
  -webkit-transition: opacity 0.5s 0.6s ease-out,
    -webkit-transform 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 0.5s 0.6s ease-out,
    -webkit-transform 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 1.5s cubic-bezier(0.25, 0.1, 0.25, 1),
    opacity 0.5s 0.6s ease-out;
  transition: transform 1.5s cubic-bezier(0.25, 0.1, 0.25, 1),
    opacity 0.5s 0.6s ease-out,
    -webkit-transform 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  width: 16em;
}

.quote-text {
  padding-top: 16px;
}

.quote.previous {
  opacity: 0.5;
  -webkit-transform: translate(-150%, -50%) scale(0.8);
  transform: translate(-150%, -50%) scale(0.8);
}

.quote.current {
  cursor: default;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.quote.next {
  opacity: 0.5;
  -webkit-transform: translate(50%, -50%) scale(0.8);
  transform: translate(50%, -50%) scale(0.8);
}

.quote.left {
  -webkit-transform: translate(calc(-150% - 12em), -50%) scale(0.6);
  transform: translate(calc(-150% - 12em), -50%) scale(0.6);
}

/* styling pips */

.quotes-carousel-pips {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.quotes-carousel-pips ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.pip {
  background: #888;
  border: 2px solid #555;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 0 0.1em;
  padding: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: all 0.8s cubic-bezier(0, 1, 0.3, 1);
  transition: all 0.8s cubic-bezier(0, 1, 0.3, 1);
  width: 20px;
}

.pip.previous,
.pip.next {
  background: #ccc;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.pip.current {
  background: #fff;
  cursor: default;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}

.pip:not(.current):hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* ----------------------------- */
/* RAC90 Page */
/* ----------------------------- */

.head-demo {
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  min-height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(../imgs/rac90_front.jpg);
  display: flex;
  align-items: center;
}

.bg-offwhite {
  background-color: rgba(255, 255, 255, 0.9);
}

.head-demo .row {
  justify-content: flex-end;
}

.information__link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  background-color: #4c6631;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid #4c6631;
  border-radius: 4px;
  text-transform: uppercase;
  transition: all 0.4s;
  cursor: pointer;
}

.information__link:hover {
  color: #4c6631;
  background-color: #fff;
  text-decoration: none;
  border: 1px solid #4c6631;
}

.information__link span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

.information__link span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}
.information__link:hover span {
  padding-right: 25px;
}
.information__link:hover span:after {
  opacity: 1;
  right: 0;
}

.card-footer {
  background-color: #efefef;
}

.rac90-panel {
  background-size: cover;
  background-position: bottom;
  min-height: 55vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(imgs/plane_rear.jpg);
  display: flex;
  align-items: center;
}

.rac90-panel h4 {
  font-weight: 600;
}

.lightbox-gallery .gallery {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.lightbox-gallery .gallery a:first-child {
  grid-row: 1/3;
  grid-column: 1/3;
}

.lightbox-gallery .gallery a:nth-child(2) {
  grid-column: 3/5;
}

.lightbox-gallery .gallery img,
.lightbox-gallery .gallery a {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----------------------------- */
/* Special Missions */
/* ----------------------------- */

.special-missions {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(imgs/runway.jpg);
  min-height: 50vh;
  background-size: cover;
  background-position: 0% 60%;
  color: #fff;
}

.section-features-special {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(imgs/hurricane.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.section-features-special i {
  color: #fff;
}

/* ----------------------------- */
/* About */
/* ----------------------------- */

.about-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(imgs/team.jpg);
  background-size: cover;
  background-position: top;
  color: #fff;
}

.about-lead {
  width: 67%;
}

.section-team {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.portrait .gallery {
  height: 150px;
  width: 150px;
  background-size: cover;
  margin-bottom: 20px;
  border: 2px solid #232e18;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.section-story {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(imgs/back-customers.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}

/* ----------------------------- */
/* Coming Soon */
/* ----------------------------- */

.coming-soon {
  height: 100vh;
  background: #abbaab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffffff, #efefef);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ffffff, #efefef);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ----------------------------- */
/* Careers */
/* ----------------------------- */

.careers {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(imgs/runway.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

/* ----------------------------- */
/* Contact */
/* ----------------------------- */

.contact-us {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(imgs/control-room.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

/* ----------------------------- */
/* Quote & Contact Form */
/* ----------------------------- */

.get-quote {
  background-color: #efefef;
}

.form-title {
  text-align: center;
  color: #4c6631;
  font-weight: 400;
}

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
}

/* ----------------------------- */
/* Footer */
/* ----------------------------- */

footer {
  font-size: 80%;
  color: #fff;
}

.footer-text {
  margin-bottom: 5px;
}

.page-footer {
  background-color: #232e18;
}

.copyright {
  text-align: center;
}

.footer-nav {
  list-style: none;
}

.footer-nav li a:link,
.footer-nav li a:visited {
  border: 0;
  text-decoration: none;
  color: #fff;
  transition: color 0.2s;
}

.footer-nav li a:hover {
  color: #abbaab;
}

.social-nav {
  list-style: none;
}

.social-nav li {
  display: inline-block;
  margin-right: 20px;
}

.social-nav li a:link,
.social-nav li a:visited {
  border: 0;
  text-decoration: none;
  color: #fff;
  transition: color 0.2s;
  font-size: 150%;
}

.facebook,
.twitter,
.linkedin {
  transition: color 0.2s;
}

.facebook:hover,
.facebook:active {
  color: #3b5998;
}

.twitter:hover,
.twitter:active {
  color: #00aced;
}

.linkedin:hover,
.linkedin:active {
  color: #0077b5;
}

.border-1px {
  border: 1px solid #333;
}
